<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Traduzir valorização</title>
    <script src="/static/upload_traducao.js"></script>
    <link rel="stylesheet" href="/static/css.css">
</head>
<body>
    <a class="back_button">&#9664; Voltar</a>
    <div class="description">
        <h1>Traduz&nbsp;valorização</h1>
        <p>&emsp;Para utilizar o software, envie o excel do resumo dos pdfs no primeiro campo</p>
    </div>
    <form>
        <label class="file_label" for="resumo">Resumo linha por linha: </label>
        <input class="file_input" id="resumo" type="file" accept="xlsx" autocomplete="off">
        <button class="submit_button" id="submit">Enviar</button>
        <p id="loading" hidden>carregando...</p>
        <a class="download_button" id="download" hidden>Baixar pdfs traduzidos</a>
    </form>
</body>
<script defer>
    document.querySelector(".back_button").addEventListener("click", () => {history.go(-1);});
    document.querySelector(".submit_button").addEventListener("click", (event) => event.preventDefault());
</script>
</html>