* {
    color: azure;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 10px;
}

body {
    display: flex;
    margin: 10%;
    align-items: center;
    justify-content: space-around;
    column-count: 2;
    background-color: floralwhite;
}

a {
    color: inherit;
    text-decoration: inherit;
    font: inherit;
}

h1 {
    color: inherit;
    overflow: hidden;
}

p {
    color: inherit;
    text-align: justify;
    overflow: hidden;
    text-overflow: ellipsis;
}

.description {
    color: darkslategray;
    border: 1px solid gainsboro;
    border-radius: 10px;
    max-width: 40%;
}

.form {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    border: 1px solid gainsboro;
    border-radius: 10px;
    color: darkslategray;
}

.file_label {
    align-self: flex-start;
    color: darkslategray;
    padding-bottom: 0;
    padding-left: 30px;
}

.file_input {
    width: fit-content;
    margin: 1rem;
    margin-top: .3rem;
    padding: 6px 12px;
    background-color: black;
    border: 1px solid gainsboro;   
    cursor: pointer;
}

.submit_button {
    max-width: 5rem;
    justify-content: center;
    padding: 5px 15px 5px 15px;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    transition: 0.2s;
}

.submit_button:hover {
    background-color: darkblue;
    transition: 0.2s;
}

.download_button {
    justify-content: center;
    padding: 5px 15px 5px 15px;
    margin: 1rem;
    border: 1px solid #ccc;
    border-radius: 50px;
    background-color: black;
    cursor: pointer;
    transition: 0.2s;
}

.download_button:hover {
    background-color: darkgreen;
    transition: 0.2s;
}

.back_button {
    font-family: inherit;
    position: absolute;
    top: 10px;
    left: 10px;
    color: darkslategray;
}

@media all and (max-width: 780px) {
    body {
        column-count: 1;
    }
}